.container2{
    background-image: url('https://ieeecs-media.computer.org/wp-media/2018/07/13204403/graphic-hood-man-with-security-code-lines-in-the-background.jpg') ;
    max-width: 2002px;
    height: 695px;
    padding-top: 1rem;
    background-size: cover;
    
    
    
    
}
.card-body2{
    background-image: url('https://c4.wallpaperflare.com/wallpaper/859/290/552/simple-background-gradient-minimalism-wallpaper-preview.jpg');
padding-bottom: 2rem;
padding-top: 2rem;
padding-left: 3rem;
padding-right: 3rem;
border-radius: 35px;
background-size: cover;

}

