.card-img-top{
    height: 200px;
}
.browsediv{
    height: 500px;
}
.browsebackground{
    background-image: url('https://static.vecteezy.com/system/resources/previews/001/849/553/original/modern-gold-background-free-vector.jpg');
    background-size: cover;
}
.browseheader{
    background-image: url('https://media-exp1.licdn.com/dms/image/C4E12AQHgwsuTUlKODw/article-cover_image-shrink_720_1280/0/1625581618735?e=1660780800&v=beta&t=OL3a5oiiS9-hE4aiuFWg_aRnY_zrhRNrHY_tDY2wGsI');
     height: 400px;
}
.mask{
    background-color: rgba(0, 0, 0, 0.6);
}
.browsesearchbar{
    margin-left:600px ;
    margin-top: 10px;
}
