.viewer{
    background-image: url('https://wallpapercave.com/wp/wp3264682.jpg');
    height: 694px;
}
.descriptiondiv{
    background-image: url('https://c0.wallpaperflare.com/preview/148/149/78/blue-sky-clouds-bright.jpg');
    background-size: cover;
}